.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.padding-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.padding-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.padding-y-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clickable-header:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: rgba(17, 17, 17, 0.75);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font1;
  color: #f2f1dfb0;
}

p,
label,
::-webkit-input-placeholder {
  font-family: font1;
}

p,
label,
:-ms-input-placeholder {
  font-family: font1;
}

p,
label,
::-ms-input-placeholder {
  font-family: font1;
}

p,
label,
::placeholder {
  font-family: font1;
}

input {
  padding: 10px 0;
  width: 35%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #e2e2cd;
  margin: 10px 0;
}

input::-webkit-input-placeholder {
  color: #f2f1dfb0;
}

input:-ms-input-placeholder {
  color: #f2f1dfb0;
}

input::-ms-input-placeholder {
  color: #f2f1dfb0;
}

input::placeholder {
  color: #f2f1dfb0;
}

input:focus {
  background-color: #a2a19f0a;
}

button {
  font-family: font1;
  padding: 15px;
  color: #f2f1dfb0;
  background-color: #31312c;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  background-color: rgba(155, 154, 152, 0.2);
}

svg {
  font-size: 1.5rem;
  cursor: pointer;
}

svg:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.drop-down-menu-icon {
  position: absolute;
  left: -20px;
}

span.span-user-details {
  font-family: font1;
  letter-spacing: 0.5px;
  color: #6d6d6d;
}

.icon-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.content-editable {
  padding: 0 4px;
  border: 2px dotted transparent;
}

.content-editable:hover {
  border: 2px dotted #e2e2cd;
}

.content-editable:focus {
  border: 2px dotted #bcbba6;
  color: rgba(109, 109, 109, 0.85);
}

.user-profile-big {
  width: 250px;
}

div[role="menuContainer"] > div {
  font-family: monspace;
  -webkit-box-shadow: 0px 3px 10px -5px #484444 !important;
          box-shadow: 0px 3px 10px -5px #484444 !important;
}

div[role="menuContainer"] > div > ul {
  background: #f2f1df !important;
  color: #6d6d6d !important;
}

div[role="menuContainer"] > div > ul > li {
  font-family: font1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f1df;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f1dfb0), to(#bcbba6));
  background: linear-gradient(#f2f1dfb0, #bcbba6);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f1dfb0), to(#bcbba6));
  background: linear-gradient(#f2f1dfb0, #bcbba6);
}

@font-face {
  font-family: font1;
  src: url(../../font/font1.ttf);
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes widen {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@keyframes widen {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@-webkit-keyframes shorten {
  0% {
    width: 200px;
  }
  100% {
    width: 50px;
  }
}

@keyframes shorten {
  0% {
    width: 200px;
  }
  100% {
    width: 50px;
  }
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board .board-container {
  width: 100%;
  overflow: hidden;
}

.board .board-container .groups-container {
  height: 80vh;
  overflow-y: overlay;
  background-color: #f2f1df;
}

.sign-login {
  background-color: #f2f1df;
  height: 100vh;
  color: #f2f1dfb0;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #31312c;
}

.sign-login-form {
  background-color: #333333;
  padding: 20px;
  position: absolute;
  width: 50%;
  min-height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
}

.sign-login-form button {
  background-color: #333333;
}

.sign-login-form button:hover {
  background-color: #373737;
}

.sign-login-form a:hover {
  background-color: #373737;
}

.sign-login-form .sign-login-input,
.sign-login-form button,
.sign-login-form section {
  width: 90%;
  color: #f2f1dfb0;
}

.sign-login-form svg {
  font-size: 5rem;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile span {
  color: #4d4b4b;
}

.user-profile .user-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f1df;
}

.user-profile .user-container h1,
.user-profile .user-container h2,
.user-profile .user-container h3,
.user-profile .user-container h4,
.user-profile .user-container h5 {
  color: #6d6d6d;
}

.user-profile .user-container .header-container {
  width: 100%;
  background-color: #333333;
  border-bottom: 1px solid rgba(109, 109, 109, 0.35);
}

.user-profile .user-container img {
  border-radius: 50px;
}

.user-profile .user-details-container {
  height: 400px;
  width: 100%;
}

.user-profile .user-details-container h2 {
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: underline;
}

.user-profile .user-details-container .user-details-inner-container {
  margin-top: 100px;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-week {
  position: relative;
}

.my-week .search-container {
  width: 95%;
  padding-left: 15px;
  padding-right: 50px;
}

.my-week .my-week-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 50px;
  width: 100%;
  background-color: #f2f1df;
}

.my-week .my-week-container input {
  font-size: 1.2rem;
  color: #a2a19f0a;
  border-bottom-color: #413e3a;
}

.my-week .my-week-container input::-webkit-input-placeholder {
  color: #413e3a;
}

.my-week .my-week-container input:-ms-input-placeholder {
  color: #413e3a;
}

.my-week .my-week-container input::-ms-input-placeholder {
  color: #413e3a;
}

.my-week .my-week-container input::placeholder {
  color: #413e3a;
}

.my-week .my-week-container input:focus {
  background-color: #a2a19f0a;
}

.my-week .my-week-container h1,
.my-week .my-week-container h2,
.my-week .my-week-container h3,
.my-week .my-week-container h4,
.my-week .my-week-container h5 {
  color: #4d4b4b;
}

.my-week .my-week-container h1 {
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.my-week .my-week-header {
  margin: 5vh 0px;
  height: 15vh;
  width: 500px;
}

.my-week .my-week-header div h1 {
  margin: auto;
}

.my-week .my-week-header div img {
  height: 100px;
  width: 110px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.my-week .task-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-week .task-preview .user-img-container {
  width: 80px;
}

.my-week .task-preview .user-img-container img,
.my-week .task-preview .user-img-container .member-letter {
  height: 30px;
  width: 30px;
}

.my-week .task-preview .user-img-container .task-number-of-imgs {
  right: 15px;
  height: 20px;
  width: 20px;
}

.my-week .task-preview * {
  width: 100px;
  text-align: center;
}

.my-week .task-preview .label-box {
  height: 90%;
  border-radius: 1px;
  width: 100px;
}

.my-week .task-preview .task-location {
  color: gray;
}

.my-week .task-preview .task-location span {
  cursor: pointer;
}

.my-week .task-preview .task-location span:hover {
  text-decoration: underline;
}

.my-week .upcoming-tasks-container {
  max-height: 70vh;
  overflow-y: overlay;
}

.my-week .upcoming-tasks {
  width: 95%;
}

.my-week .upcoming-tasks > :nth-child(even) {
  background-color: #333333;
  border-radius: 1px;
}

.my-week .upcoming-tasks > :nth-child(even) *:not(.label-box) {
  color: #f2f1dfb0;
}

.my-week .upcoming-tasks > :nth-child(even) .label-box p {
  color: #f1f1f1;
}

.my-week .greeting-container {
  width: 90%;
  margin-left: 50px;
}

.my-week .no-tasks {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boardbar {
  position: relative;
  height: 100vh;
  width: 0px;
  background-color: #333333;
  padding-top: 20px;
  border-right: 1px solid rgba(109, 109, 109, 0.35);
  border-top-left-radius: 15px;
  -webkit-box-shadow: -12px -20px 20px -18px;
          box-shadow: -12px -20px 20px -18px;
  margin-left: -15px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.boardbar.board-bar-shown {
  width: 150px;
  padding: 15px;
  padding-left: 10px;
  overflow: visible;
}

.boardbar svg {
  font-size: 25px;
  color: #f2f1df;
}

.boardbar svg:hover {
  color: #9b9a98;
}

.boardbar .board-bar-toggle-container {
  position: absolute;
  right: 0px;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.boardbar .board-bar-toggle-container svg {
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.boardbar .board-bar-toggle-container:hover svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.boardbar .boardbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.boardbar .boardbar-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
}

.boardbar li,
.boardbar input {
  margin-bottom: 15px;
}

.boardbar h4 {
  cursor: pointer;
}

.boardbar input {
  width: 90%;
}

.boardbar ul {
  padding: 0;
  max-height: 80%;
  overflow: overlay;
}

.boardbar ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.boardbar ul svg {
  margin-right: 5px;
  font-size: 15px;
}

.navbar {
  min-width: 100px;
  width: 100px;
  background-color: #bcbba6;
  height: 100vh;
  padding-right: 15px;
}

.navbar svg {
  font-size: 30px;
  color: #31312c;
}

.navbar svg:hover {
  color: #111111;
}

.navbar .icon {
  font-size: 2rem;
  color: #31312c;
}

.navbar .icon:hover {
  cursor: pointer;
}

.navbar .logo {
  margin-top: 20px;
  font-size: 3rem;
}

.navbar .navbar-links {
  height: 25%;
}

.navbar .notifications-counter {
  position: absolute;
  right: -3px;
  top: -3px;
  font-size: 13px;
  width: 17px;
  height: 17px;
  color: #b94444;
  background: #31312c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 700;
}

.notifications {
  position: absolute;
  width: 600px;
  top: -15px;
  left: 50px;
  background-color: #e2e2cd;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px 0px #4b4b4bad;
          box-shadow: 0px 0px 10px 0px #4b4b4bad;
  border-radius: 10px;
}

.notifications h1,
.notifications h2,
.notifications h3,
.notifications h4,
.notifications h5 {
  color: #6d6d6d;
}

.notifications .hide-long-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 0;
}

.notifications .hide-long-txt > p,
.notifications .hide-long-txt > h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notifications header {
  margin-bottom: 20px;
  width: 95%;
}

.notifications header:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #e2e2cd;
  border-width: 10px;
}

.notifications .notifications-container {
  overflow-y: overlay;
  max-height: 400px;
}

.notifications .notifications-container .notification {
  width: 95%;
  margin-bottom: 15px;
  background-color: #f2f1df;
  border-radius: 1px;
  padding: 25px;
  line-height: 1.8;
}

.notifications .notifications-container .notification .user-img-container {
  text-align: initial;
}

.notifications .notifications-container .notification .user-img-container img {
  height: auto;
  width: 80px;
}

.notifications .notifications-container .notification .notification-msg {
  margin-left: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.board-header {
  height: 20vh;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(109, 109, 109, 0.35);
}

.board-header h1 {
  margin-bottom: 10px;
}

.board-header svg {
  color: #f2f1df;
}

.board-header svg:hover {
  color: #9b9a98;
}

.board-header button {
  color: #6d6d6d;
  font-weight: 700;
  background-color: #bcbba6;
  font-size: 1rem;
  padding: 12px 8px;
}

.board-header button:hover {
  background-color: #9b9a98;
}

.board-header .col-right svg {
  font-size: 25px;
}

.board-header .col-right .search-outer-container {
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.board-header .col-right input {
  width: 50px;
  -webkit-animation: shorten .4s;
          animation: shorten .4s;
}

.board-header .col-right input + svg {
  cursor: initial;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  font-size: 1.5rem;
}

.board-header .col-right input + svg:hover {
  color: #f2f1df;
}

.board-header .col-right input:focus {
  -webkit-animation: widen .4s;
          animation: widen .4s;
  width: 200px;
}

.board-header .col-right input:focus + svg {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(200px, 0) rotate(90deg);
          transform: translate(200px, 0) rotate(90deg);
}

.board-header .col-right > * {
  margin-left: 30px;
}

.board-header .col-right > * > *:not(svg) {
  margin-left: 10px;
}

.board-header .filters-outer-container,
.board-header .activities-outer-container {
  padding: 10px;
  border-radius: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.board-header .filters-outer-container:hover,
.board-header .activities-outer-container:hover {
  background-color: rgba(128, 128, 128, 0.342);
}

.board-header .filters-outer-container svg:hover,
.board-header .activities-outer-container svg:hover {
  color: #f2f1df;
}

.group h1,
.group h2,
.group h3,
.group h4,
.group h5 {
  color: #6d6d6d;
}

.group svg {
  color: #31312c;
  font-size: 1.5rem;
}

.group svg:hover {
  color: #111111;
}

.group .content-editable:hover {
  border: 2px dotted #6d6d6d;
}

.group .group-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.group .group-header-right {
  margin-right: 10px;
}

.group .group-header-right > * {
  width: 100px;
  text-align: center;
}

.group .group-header-right *:not(:first-child) {
  margin-left: 15px;
}

.group .task-list {
  min-height: 40px;
}

.group .task-add {
  border: 1px solid transparent;
}

.group .task-add form {
  width: 100%;
}

.group .task-add input {
  height: 100%;
  margin: 0;
  text-align: initial;
  font-family: font1;
  font-size: 1em;
  font-weight: 700;
  background-color: #f2f1df;
}

.group .task-add input::-webkit-input-placeholder {
  color: #6d6d6d;
}

.group .task-add input:-ms-input-placeholder {
  color: #6d6d6d;
}

.group .task-add input::-ms-input-placeholder {
  color: #6d6d6d;
}

.group .task-add input::placeholder {
  color: #6d6d6d;
}

.group .task-add:hover {
  border: 1px solid #6d6d6d;
}

.group .drag-icon svg {
  color: #bcbba6;
  cursor: -webkit-grab;
  cursor: grab;
}

.delete-group-icon,
.color-group-icon {
  margin-right: 5px;
}

.drag-over {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  background-color: rgba(188, 187, 166, 0.5);
}

.color-picker {
  width: 120px;
  height: 150px;
  background-color: #fff;
  z-index: 10000;
  top: 25px;
  left: 115px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px -5px #484444;
          box-shadow: 0px 3px 10px -5px #484444;
  cursor: auto;
  background-color: #f2f1df;
}

.color-picker .color-pick {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.color-picker .color-pick:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 32px;
  height: 32px;
  margin: 4px;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e2e2cd;
  margin-bottom: 2px;
  height: 40px;
  border-radius: 1px;
}

.task svg {
  font-size: 2rem;
}

.task .task-remove-icon {
  font-size: 1.2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.task .users-modal {
  background-color: #ffffff;
  z-index: 999;
  padding: 10px;
  width: 250px;
  border-radius: 1px;
}

.task .users-modal .task-users-box {
  border-bottom: 2px solid #bcbba6;
  padding: 10px 0;
  cursor: pointer;
}

.task .users-modal h3 {
  margin-bottom: 10px;
}

.task .users-modal .user-box-info p {
  text-align: left;
}

.task .users-modal .board-users-box {
  padding: 10px 0;
  cursor: pointer;
}

.task input {
  width: 100%;
  background-color: #f7f7dc;
  border: 0;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border-radius: 1px;
  text-align: center;
}

.task .icon-container {
  position: absolute;
  left: -20px;
}

.label-box {
  width: 100%;
  text-align: center;
  border-radius: 1px;
  padding: 5px 0;
  cursor: pointer;
}

.label-list {
  width: 150px;
  background-color: #ffffff;
  z-index: 999;
  padding: 10px;
  border-radius: 1px;
}

.label-list .label-selector {
  width: 90%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  border-radius: 1px;
  cursor: pointer;
}

.drag {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px black solid;
}

.task-left {
  position: relative;
}

.task-left .task-color {
  background: red;
  width: 7px;
  height: 40px;
}

.task-right {
  height: 100%;
  margin-right: 10px;
}

.task-right > * {
  width: 100px;
  margin-left: 15px;
}

.task-right .notes-container {
  text-align: center;
}

.user-img-container {
  height: 50px;
  position: relative;
  text-align: center;
}

.user-img-container img {
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
}

.user-img-container .no-members-container {
  position: relative;
}

.user-img-container .no-members-container .no-members-icon {
  height: 30px;
  width: 30px;
}

.user-img-container .no-members-container .no-members-icon-plus {
  position: absolute;
  top: 9px;
  right: -15px;
  background-color: #787864f1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.user-img-container .member-letter {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #31312c;
  color: #e2e2cd;
  padding-top: 6px;
  cursor: pointer;
}

.user-img-container .task-number-of-imgs {
  font-family: monospace;
  font-size: 15px;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #787864f1;
  color: #f2f1dfb0;
  border-radius: 50%;
  text-align: center;
  right: 25px;
  font-weight: bold;
}

.task-img-container {
  height: 100%;
  position: relative;
  text-align: center;
}

.task-img-container img {
  cursor: pointer;
  height: 100%;
  border-bottom-right-radius: 1px;
}

.task-img-container .no-images {
  padding-top: 15px;
}

.updates-header {
  margin-bottom: 20px;
}

.updates-header h1 {
  margin: 15px 0 30px;
}

.updates-header .updates-header-options {
  width: 100%;
}

.updates-header .updates-header-options > * {
  margin: 0 auto;
}

.updates-header label {
  font-family: font1;
  padding: 15px;
  color: #f2f1dfb0;
  background-color: #31312c;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 20px 0;
}

.updates-header label:hover {
  background-color: rgba(155, 154, 152, 0.2);
}

.updates-header input {
  border-bottom: 2px solid #31312c;
  width: 150px;
}

.updates-container {
  overflow: overlay;
  padding: 0 10px;
  height: 72vh;
  background-color: #dddfc6;
  border-bottom: 1px solid #b5ad91;
  border-top: 1px solid #b5ad91;
}

.updates-container .update-box {
  padding: 10px;
  -webkit-box-shadow: 0px 3px 10px -5px #484444;
          box-shadow: 0px 3px 10px -5px #484444;
  margin: 10px;
  background-color: #f2f1df;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.updates-container .update-box .member-name {
  font-weight: bold;
}

.updates-container .update-box .update-text {
  font-weight: initial;
  display: inline;
  word-break: break-all;
}

.updates-container .update-box img {
  height: 200px;
  width: 200px;
}

.stuck {
  background-color: #b94444;
}

.working {
  background-color: #c5b139;
  font-size: 0.9rem;
}

.done {
  background-color: #407740;
}

.low {
  background-color: #cfcfb4;
}

.medium {
  background-color: #848569;
}

.high {
  background-color: #515243;
}

.stuck,
.working,
.done,
.low,
.medium,
.high {
  color: #f1f1f1;
}

.activities {
  overflow-y: overlay;
  max-height: 90vh;
}

.activities header {
  margin-bottom: 25px;
}

.activities h1,
.activities h2,
.activities h3,
.activities h4,
.activities h5 {
  color: #4d4b4b;
}

.activities .activity {
  background-color: #f2f1dfb0;
  border-radius: 1px;
  margin-bottom: 5px;
}

.activities .activity .activity-desc-container > *:not(:first-child) {
  margin-left: 15px;
}

.activities .activity .date-created {
  margin-left: 15px;
  color: #4d4b4b;
}

.activities .user-img-container {
  text-align: initial;
}

.activities .user-img-container img {
  height: auto;
  width: 40px;
}

.activities svg {
  color: #31312c;
}

.activities input {
  border-bottom: 2px solid #31312c;
}

.activities input::-webkit-input-placeholder {
  color: #31312c;
}

.activities input:-ms-input-placeholder {
  color: #31312c;
}

.activities input::-ms-input-placeholder {
  color: #31312c;
}

.activities input::placeholder {
  color: #31312c;
}

.modal-screen-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.user-profile .user-container {
  position: relative;
}

.user-profile .user-container .user-profile-big {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  cursor: pointer;
  width: 250px;
  height: 250px;
}

.user-profile .user-container .modal-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.user-profile .user-container .modal-screen .modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #333333;
}

.user-profile .user-container .modal-screen .user-modal-col {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-container .modal-screen .user-modal-col form {
  margin-top: 25px;
}

.user-profile .user-container .modal-screen .user-modal-col form button {
  margin-top: 40px;
  background-color: transparent;
}

.user-profile .user-container .modal-screen .user-modal-col form button:hover {
  background-color: #373737;
}

.side-modal {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 500px;
  background-color: #e2e2cd;
  z-index: 999;
  -webkit-transition: .4s;
  transition: .4s;
}

.side-modal:hover + .modal-screen-wrapper {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  background-color: #1f1d0987;
}

.side-modal + .modal-screen-wrapper {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  background-color: transparent;
}

.animate-side-modal {
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.filter-modal {
  z-index: 999;
  min-width: 500px;
  height: 400px;
  top: 30px;
  right: 0;
  background-color: #f2f1df;
  border-radius: 5px;
  border: 2px solid #333333;
  padding: 0 15px 10px 0;
  z-index: 998;
}

.filter-modal > * {
  max-height: 100%;
  width: 100px;
  margin: 0 10px;
}

.filter-modal > * .filter-list {
  max-height: 100%;
  overflow-y: overlay;
}

.filter-modal > * .filter-list .remove-filter-btn {
  background-color: #575757;
}

.filter-modal > * h3 {
  color: #333333;
  margin: 10px 0;
}

.filter-modal > * button {
  padding: 5px 10px;
  width: 100%;
  background-color: #333333;
  color: #f2f1dfb0;
  margin-bottom: 5px;
}

.filter-modal > * button:hover {
  background-color: #111111;
}
/*# sourceMappingURL=main.css.map */