.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.padding-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.padding-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.padding-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cursor-initial {
  cursor: initial;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #053250;
}

p {
  color: #1b262c;
}

button {
  padding: 15px;
  cursor: pointer;
}

svg {
  font-size: 2rem;
  cursor: pointer;
  color: #1e2547;
}

svg:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: rgba(15, 76, 117, 0.75);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2547;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#053250), to(#d0e1ec));
  background: linear-gradient(#053250, #d0e1ec);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#053250), to(#2a77aa));
  background: linear-gradient(#053250, #2a77aa);
}

.icon-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board .board-container {
  width: 100%;
  overflow: hidden;
}

.board .board-container .groups-container {
  height: 80vh;
  overflow-y: overlay;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boardbar {
  min-width: 150px;
  width: 150px;
  height: 100vh;
  padding-left: 10px;
  background-color: #e8effb;
  padding-top: 20px;
  border-right: 1px solid rgba(27, 38, 44, 0.35);
  border-top-left-radius: 15px;
  -webkit-box-shadow: -23px 3px 47px -22px rgba(0, 0, 0, 0.75);
          box-shadow: -23px 3px 47px -22px rgba(0, 0, 0, 0.75);
  margin-left: -15px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boardbar h1,
.boardbar li,
.boardbar input {
  margin-bottom: 15px;
}

.boardbar input {
  width: 90%;
  background: transparent;
  border: 0;
  border-bottom: 2px solid linear-gradient(#053250, #d0e1ec);
  border-top: 2px solid linear-gradient(#053250, #d0e1ec);
  padding: 10px 5px;
}

.boardbar svg {
  margin-right: 5px;
}

.navbar {
  min-width: 100px;
  width: 100px;
  background-color: #2a77aa;
  height: 100vh;
  padding-right: 15px;
}

.navbar .icon {
  font-size: 2rem;
  color: #1e2547;
}

.navbar .icon:hover {
  cursor: pointer;
}

.navbar .logo {
  margin-top: 20px;
  font-size: 3rem;
}

.navbar .navbar-links {
  height: 40%;
}

.notifications {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 284px;
  right: -102px;
  background-color: #d0e1ec;
}

.board-header {
  height: 20vh;
  background-color: #e8effb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(27, 38, 44, 0.35);
}

.board-header h1 {
  margin-bottom: 10px;
}

.group {
  margin-bottom: 10px;
}

.group .group-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.group .task-list {
  min-height: 100px;
}

.drag-over {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  background-color: #e8effb;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d0e1ec;
  margin-bottom: 10px;
}

.task *:not(:first-child) {
  margin-left: 15px;
}

.drag {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px black solid;
}
/*# sourceMappingURL=main.css.map */