.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.padding-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.padding-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.padding-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clickable-header:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: rgba(15, 76, 117, 0.75);
}

.cursor-initial {
  cursor: initial;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: noto-sans;
  color: #053250;
}

p,
label,
::-webkit-input-placeholder {
  font-family: roboto;
  color: #1b262c;
}

p,
label,
:-ms-input-placeholder {
  font-family: roboto;
  color: #1b262c;
}

p,
label,
::-ms-input-placeholder {
  font-family: roboto;
  color: #1b262c;
}

p,
label,
::placeholder {
  font-family: roboto;
  color: #1b262c;
}

input {
  padding: 10px 0;
  width: 35%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #85b2ec;
  margin: 10px 0;
}

input::-webkit-input-placeholder {
  color: #053250;
}

input:-ms-input-placeholder {
  color: #053250;
}

input::-ms-input-placeholder {
  color: #053250;
}

input::placeholder {
  color: #053250;
}

button {
  font-family: noto-sans;
  padding: 15px;
  color: #1b262c;
  background-color: #64b5eb;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

button:hover {
  background-color: rgba(100, 181, 235, 0.65);
}

svg {
  font-size: 2rem;
  cursor: pointer;
  color: #1e2547;
}

svg:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: rgba(15, 76, 117, 0.75);
}

span.span-user-details {
  font-family: roboto;
  letter-spacing: 0.5px;
  color: #1b262c;
}

.icon-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.content-editable {
  padding: 0 4px;
  border: 2px dotted transparent;
}

.content-editable:hover {
  border: 2px dotted #85b2ec;
}

.content-editable:focus {
  border: 2px dotted #2a77aa;
  color: rgba(27, 38, 44, 0.85);
}

.user-profile-big {
  width: 250px;
}

.user-img-container {
  height: 50px;
  position: relative;
  text-align: center;
}

.user-img-container img {
  cursor: pointer;
  height: 100%;
  border-radius: 50%;
  width: 50%;
}

.user-img-container .member-letter {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 50%;
  background-color: #1e2547;
  color: #85b2ec;
  padding-top: 6px;
  cursor: pointer;
}

.user-img-container .task-number-of-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  position: absolute;
  background-color: rgba(30, 37, 71, 0.95);
  color: #e8effb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.modal-screen-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d0e1ec;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#053250), to(#2a77aa));
  background: linear-gradient(#053250, #2a77aa);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#053250), to(#2a77aa));
  background: linear-gradient(#053250, #2a77aa);
}

@font-face {
  font-family: roboto;
  src: url(../../font/roboto.ttf);
}

@font-face {
  font-family: noto-sans;
  src: url(../../font/noto-sans.ttf);
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board .board-container {
  width: 100%;
  overflow: hidden;
}

.board .board-container .groups-container {
  height: 80vh;
  overflow-y: overlay;
  background-color: #d0e1ec;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.my-week-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 50px;
  width: 100%;
}

.my-week-container h1 {
  font-size: 1.9rem;
  margin-bottom: 50px;
}

.my-week-header {
  height: 20vh;
}

.my-week-header img {
  height: 100%;
}

.task-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-preview .user-img-container .member-letter {
  width: 50px;
}

.task-preview * {
  width: 100px;
  text-align: center;
}

.task-preview .label-box {
  height: 90%;
  border-radius: 5px;
  width: 100px;
}

.task-preview .task-location {
  color: gray;
}

.task-preview .task-location span {
  cursor: pointer;
}

.task-preview .task-location span:hover {
  text-decoration: underline;
}

.upcoming-tasks-container {
  max-height: 75vh;
  overflow-y: overlay;
}

.upcoming-tasks {
  width: 95%;
}

.upcoming-tasks > :nth-child(even) {
  background-color: #e8effb;
  border-radius: 5px;
}

.no-tasks {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boardbar {
  min-width: 150px;
  width: 150px;
  height: 100vh;
  padding-left: 10px;
  background-color: #e8effb;
  padding-top: 20px;
  border-right: 1px solid rgba(27, 38, 44, 0.35);
  border-top-left-radius: 15px;
  -webkit-box-shadow: -12px -20px 20px -18px;
          box-shadow: -12px -20px 20px -18px;
  margin-left: -15px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boardbar .boardbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.boardbar .boardbar-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
}

.boardbar .boardbar-header button svg {
  font-size: 18px;
}

.boardbar li,
.boardbar input {
  margin-bottom: 15px;
}

.boardbar h4 {
  cursor: pointer;
}

.boardbar input {
  width: 90%;
}

.boardbar ul {
  padding: 0;
  max-height: 80%;
  overflow: overlay;
}

.boardbar ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.boardbar ul svg {
  margin-right: 5px;
  font-size: 15px;
}

.navbar {
  min-width: 100px;
  width: 100px;
  background-color: #2a77aa;
  height: 100vh;
  padding-right: 15px;
}

.navbar .icon {
  font-size: 2rem;
  color: #1e2547;
}

.navbar .icon:hover {
  cursor: pointer;
}

.navbar .logo {
  margin-top: 20px;
  font-size: 3rem;
}

.navbar .navbar-links {
  height: 25%;
}

.notifications {
  position: absolute;
  width: 600px;
  top: -15px;
  left: 50px;
  background-color: #85b2ec;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px 0px #4b4b4bad;
          box-shadow: 0px 0px 10px 0px #4b4b4bad;
  border-radius: 10px;
}

.notifications header {
  margin-bottom: 20px;
  width: 95%;
}

.notifications header:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #85b2ec;
  border-width: 10px;
}

.notifications .notifications-container {
  overflow-y: overlay;
  max-height: 400px;
}

.notifications .notifications-container .notification {
  width: 95%;
  margin-bottom: 15px;
  background-color: #d0e1ec;
  border-radius: 5px;
  padding: 25px;
  line-height: 1.8;
}

.notifications .notifications-container .notification .user-img-container {
  text-align: initial;
}

.notifications .notifications-container .notification .user-img-container img {
  height: auto;
  width: 80px;
}

.notifications .notifications-container .notification .notification-msg {
  margin-left: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.board-header {
  height: 20vh;
  background-color: #e8effb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(27, 38, 44, 0.35);
}

.board-header h1 {
  margin-bottom: 10px;
}

.group .group-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.group .group-header-right > * {
  width: 100px;
  text-align: center;
}

.group .group-header-right *:not(:first-child) {
  margin-left: 15px;
}

.group .task-list {
  min-height: 100px;
}

.drag-over {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 10px;
  background-color: #e8effb;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #85b2ec;
  margin-bottom: 10px;
  height: 65px;
  border-radius: 5px;
}

.task .users-modal {
  background-color: #ffffff;
  z-index: 999;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.task .users-modal .task-users-box {
  border-bottom: 2px solid #2a77aa;
  padding: 10px 0;
  cursor: pointer;
}

.task .users-modal h3 {
  margin-bottom: 10px;
}

.task .users-modal .user-box-info p {
  text-align: left;
}

.task .users-modal .board-users-box {
  padding: 10px 0;
  cursor: pointer;
}

.task input {
  width: 100%;
  background-color: #e8effb;
  border: 0;
  padding: 7.5px 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.label-box {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
}

.label-list {
  width: 150px;
  background-color: #ffffff;
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
}

.label-list .label-selector {
  width: 90%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.drag {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px black solid;
}

.task-right {
  height: 100%;
}

.task-right > * {
  width: 100px;
  margin-left: 15px;
}

.task-img-container {
  height: 100%;
  position: relative;
}

.task-img-container img {
  cursor: pointer;
  height: 100%;
  border-bottom-right-radius: 5px;
}

.task-img-container .task-number-of-imgs {
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 20px;
  height: 20px;
  margin-right: -8px;
  margin-top: -8px;
  position: absolute;
  background-color: #1e2547;
  color: #e8effb;
  border-radius: 50%;
  top: 0;
  text-align: center;
  right: 0;
  font-weight: bold;
}

.stuck {
  background-color: #cb4848;
}

.working {
  background-color: #e6c91d;
}

.done {
  background-color: #20cb20;
}

.low {
  background-color: #c5c5ea;
}

.medium {
  background-color: orange;
}

.high {
  background-color: #ac361e;
}

.user-profile .user-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile .user-container .header-container {
  width: 100%;
  background-color: #e8effb;
  border-bottom: 1px solid rgba(27, 38, 44, 0.35);
}

.user-profile .user-container img {
  border-radius: 50px;
}

.user-profile .user-details-container {
  height: 400px;
  width: 100%;
}

.user-profile .user-details-container h2 {
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-decoration: underline;
}

.user-profile .user-details-container .user-details-inner-container {
  margin-top: 100px;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-profile .user-container {
  position: relative;
}

.user-profile .user-container .modal-screen {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.user-profile .user-container .modal-screen .modal-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2a77aa;
}

.user-profile .user-container .modal-screen .user-modal-col {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-container .modal-screen .user-modal-col img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50px;
  cursor: pointer;
}

.user-profile .user-container .modal-screen .user-modal-col form {
  margin-top: 25px;
}

.user-profile .user-container .modal-screen .user-modal-col form button {
  margin-top: 40px;
}

.side-modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  background-color: #e8effb;
  -webkit-animation: scale-in-ver-bottom;
          animation: scale-in-ver-bottom;
}
/*# sourceMappingURL=main.css.map */