.activities {
    margin: 0;

    header {
        height: 22vh;
        border-bottom: 1px solid rgba(109, 109, 109, 0.35);

        svg {
            &:hover {
                color: $buttonMainHover;
            }
        }

        h1 {
            margin-top: 25px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $mainBlack;
    }

    input {
        width: 50%;
    }

    .all-activities-container {
        overflow-y: overlay;
        max-height: 78vh;

        svg {
            margin-right: 0;
        }
    }

    .filter-outer-container {
        >button {
            padding: 4px 8px;
            border-radius: 15px;

            &:first-of-type {
                margin-right: 15px;
            }

            svg {
                color: $white;
            }
        }
    }

    .activity-list-not-read {
        background-color: #deeffe;
        margin-bottom: 25px;
    }

    .activity-list-not-read,
    .activity-list {
        >* {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .activity {
        border-radius: 1px;
        min-height: 110px;
        line-height: 1.5;

        &:first-child {
            border-top: 1px solid #a8a8a87d;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #a8a8a87d;
        }

        .activity-desc-container {
            width: 60%;

            >*:not(:first-child) {
                margin-right: 15px;
            }
        }

        .date-container {
            min-width: 50px;
            color: $colorFontUserDetails;
        }
    }

    .user-img-container {
        width: 40%;
        margin-right: 15px;

        >*:not(:first-child) {
            margin-left: 10px;
        }

        img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .member-letter {
            min-height: 40px;
            min-width: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            background-color: $pink;
            color: $colorBgBoardBars;
            cursor: pointer;
        }

        h2 {
            cursor: pointer;
        }
    }
}