.activities {
    overflow-y: overlay;
    margin: 0 15px;

    header {
        margin-bottom: 25px;

        h1 {
            margin-top: 25px;
        }


    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $mainBlack;

    }

    .activity-list {}

    .activity-list-not-read {
        background-color: #bbdaf6;
        margin-bottom: 25px;
    }


    .activity {
        border-radius: 1px;

        &:first-child {
            border-top: 1px solid #a8a8a87d;
        }

        &:not(:last-child) {

            border-bottom: 1px solid #a8a8a87d;
        }


        .activity-desc-container {
            width: 80%;

            >*:not(:first-child) {
                margin-left: 15px;
            }
        }

        .date-container {
            width: 20%;
            margin-left: 15px;
            color: $colorFontUserDetails;
        }


    }

    .user-img-container {
        img {
            height: auto;
            width: 40px;
        }
    }

    svg {
        color: $buttonMainBg;

        &:hover {
            color: $buttonMainHover;
        }
    }

}