.side-modal {
    position: fixed;
    top: 0;
    left: 200%;
    height: 100%;
    width: 500px;
    background-color: $white;
    z-index: 999;
    transition: .4s;

    @media (max-width: 450px){
        width:100%;
    }

    &:hover+.modal-screen-wrapper {
        transition: .4s;
        background-color: #090e1f87;
    }

    +.modal-screen-wrapper {
        transition: .4s;
        background-color: transparent;
    }

}

.animate-side-modal {
    box-shadow: $modalsShadow;
    transition: .4s;
    left: 100%;
    transform: translate(-100%, 0);
}