.side-modal {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 500px;
    background-color: $colorTask;
    z-index: 999;
    transition: .4s;

    &:hover+.modal-screen-wrapper {
        transition: .2s ease-out;
        background-color: #1f1d0987;
    }

    +.modal-screen-wrapper {
        transition: .2s ease-out;
        background-color: transparent;
    }

}

.animate-side-modal {
    transition: .4s;
    transform: translate(-100%, 0);
}