.updates-header {
    height: 30vh;
    border-bottom: 1px solid rgba(109, 109, 109, 0.35);
    padding-top: 15px;
    padding-left: 15px;

    svg {
        color: $buttonMainBg;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .updates-header-options {
        width: 100%;
        margin-left: 10px;


        textarea {
            width: 450px;
            border-radius: 10px;
            resize: none;
            height: 75px;
            padding: 5px;

            &:focus {
                border-color: $buttonMainBg;
            }
        }

        .updates-btns {
            padding: 0 5px;
            width: 450px;
        }

        .image-uploader {
            margin-right: 10px;

            label {

                >* {
                    margin-top: 4px;
                    border-radius: 5px;
                }

                svg {
                    align-self: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 25px;
                    color: $colorBgBoardBars;
                    background-color: $buttonMainBg;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        background-color: $buttonMainHover;
                    }
                }
            }

            .image-uploaded {
                margin-left: 5px;
                padding: 5px;
                border-radius: 5px;
                height: 30px;
                margin-top: 4px;
                color: #1cdc1c;

                svg {
                    background-color: inherit;
                    cursor: auto;
                    color: #1cdc1c;
                }
            }
        }


        .ldio-subadnemdcd div {
            left: 47px;
            top: 25.5px;
            position: absolute;
            animation: ldio-subadnemdcd linear 1s infinite;
            background: #ffffff;
            width: 6px;
            height: 13px;
            border-radius: 5px;
            transform-origin: 3px 24.5px;
        }

        .ldio-subadnemdcd div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -0.9s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(2) {
            transform: rotate(36deg);
            animation-delay: -0.8s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(3) {
            transform: rotate(72deg);
            animation-delay: -0.7s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(4) {
            transform: rotate(108deg);
            animation-delay: -0.6s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(5) {
            transform: rotate(144deg);
            animation-delay: -0.5s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(6) {
            transform: rotate(180deg);
            animation-delay: -0.4s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(7) {
            transform: rotate(216deg);
            animation-delay: -0.3s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(8) {
            transform: rotate(252deg);
            animation-delay: -0.2s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(9) {
            transform: rotate(288deg);
            animation-delay: -0.1s;
            background: #ffffff;
        }

        .ldio-subadnemdcd div:nth-child(10) {
            transform: rotate(324deg);
            animation-delay: 0s;
            background: #ffffff;
        }

        .loadingio-spinner-spinner-gvjl1rpqs7q {
            width: 30px;
            height: 30px;
            display: inline-block;
            overflow: hidden;
            background: $buttonMainBg;
        }

        .ldio-subadnemdcd {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(0.3);
            backface-visibility: hidden;
            transform-origin: 0 0;
            /* see note above */
        }

        .ldio-subadnemdcd div {
            box-sizing: content-box;
        }

        button {
            height: 30px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }
    }



}

.updates-container {

    overflow: overlay;
    padding: 0 10px;
    height: 70vh;
    background-color: $colorBgBoardBars;


    img {
        margin-top: 10px;
        max-height: 200px;
        max-width: fit-content;
        object-fit: fill;
    }


    .update-box {
        width: 450px;
        padding: 10px;
        box-shadow: 0px 3px 10px -5px #484444;
        margin: 10px;
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;


        .remove-update-btn {
            padding: 0;
            background-color: inherit;
            color: #7e7e7e;
            position: absolute;
            right: 7px;
            top: 3px;
            font-size: 1.2rem;

            &:hover {
                color: #4a4747;
            }
        }

        .update-box-header {
            border-bottom: 1px solid rgba(109, 109, 109, 0.35);
            padding-bottom: 10px;
            margin-bottom: 10px;

            .member-name {
                font-weight: bold;
            }

            img {
                margin-top: 0;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .update-box-main {
            min-height: 100px;

            .update-text {
                font-weight: initial;
                display: inline;
                word-break: break-all;
            }

        }

        .update-box-edit {
            textarea {
                resize: none;
                border-radius: 10px;
                width: 93%;
                height: 60px;
                padding: 5px;
            }
        }

        .submit-edit-btn {
            align-self: flex-end;
            top: 17px;
        }

        .edit-update-btn {
            margin: 5px 0;
            color: #7e7e7e;
            width: fit-content;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: #4a4747
            }
        }

        .replies-box {

            .reply-box {
                background-color: #e1e1e1;
                padding: 10px;
                max-width: fit-content;
                border-radius: 8px;
                margin: 5px 0;
                overflow: hidden;

                &:hover {
                    .remove-reply-btn {
                        transition: .3s;
                        transform: translateY(5px);
                    }

                    .edit-reply-btn {
                        transition: .3s;
                        transform: translateY(1px);
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                margin-top: 5px;
            }

            .reply-name {
                font-weight: bold;
                align-self: flex-end;
            }

            .reply-text {
                margin-left: 15px;
                word-break: break-all;
                align-self: flex-end;
            }

            .remove-reply-btn {
                position: absolute;
                right: 5px;
                top: -10px;
                background-color: inherit;
                color: #7e7e7e;
                padding: 0;
                transform: translateY(-10px);

                &:hover {
                    color: #4a4747;
                }

            }

            .update-reply-btn {
                padding: 0;
                align-self: flex-end;
            }

            textarea {
                resize: none;
                border-radius: 7px;
                margin-top: 6px;
                width: 290px;
                height: 24px;
            }

            .edit-reply-btn {
                color: #7e7e7e;
                width: fit-content;
                transform: translateY(20px);

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: #4a4747
                }
            }

        }

        .reply-footer {

            border: 1px solid rgba(109, 109, 109, 0.35);
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            textarea {
                border: 0;
                width: 360px;
                resize: none;
                height: 30px;
                padding: 5px;
            }

            .reply-button {
                position: absolute;
                right: 0;
                height: 30px;
                display: flex;
                align-items: center;
                width: 70px;
            }
        }


    }

}

.updates-image-modal {
    animation: scale-in-ver-top .3s;
    padding: 25px;
    box-shadow: $modalsShadow;
    background-color: $white;
    top: 5vh;
    left: 5vw;
    position: absolute;
    z-index: 999;

    img {
        box-shadow: $modalsShadow;
        height: 600px;
        width: 548px;

    }
}