.user-profile {
    .user-container {
        position: relative;

        .user-profile-big {
            align-self: center;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            color: $colorBgBoardBars;
            font-size: 10rem;
            border: 5px solid $colorBgBoardBars;

            &.initials {
                background-color: $pink;
            }
        }

        .modal-screen {
            width: 100%;
            height: 100vh;
            position: absolute;

            @media (max-width: 450px) {
                height: 92vh;
            }

            .modal-container {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $colorBgBoardBars;
            }

            .user-modal-header {
                background-color: $buttonMainBg;
                height: 40vh;

                .user-profile-big {
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        filter: brightness(70%);
                    }
                }
            }

            .user-modal-main {
                height: 60vh;
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;
                background-color: $colorBgBoardBars;

                @media (max-width: 450px) {
                    height: 50vh;
                }

                form {
                    margin-top: 40px;

                    @media (max-width: 450px) {
                        margin-top: 15px;

                        input {
                            width: 55%;
                        }
                    }

                    button {
                        margin-top: 40px;
                        background-color: $buttonMainBg;
                        color: $colorBgBoardBars;
                        transition: .3s;

                        &:hover {
                            background-color: $buttonMainHover;
                            filter: brightness(80%);
                        }

                        @media (max-width: 450px) {
                            margin-top: 15px;
                        }
                    }

                    .secondary-btn {
                        background-color: #9b9b9b;
                        transition: .3s;

                        &:hover {
                            background-color: #9b9b9b;
                            filter: brightness(80%);
                        }
                    }
                }
            }
        }
    }
}