.user-profile {
    .user-container {
        position: relative;

        .user-profile-big {
            align-self: center;
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

        .modal-screen {
            width: 100%;
            height: 100vh;
            position: absolute;

            .modal-container {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $colorBgBoardBars;
            }

            .user-modal-col {
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;

                .user-profile-big {
                    cursor: pointer;
                }



                form {
                    margin-top: 25px;

                    button {
                        margin-top: 40px;
                        background-color: transparent;

                        &:hover {
                            background-color: #373737;
                        }
                    }
                }

            }
        }
    }


}