.user-profile {
    .user-container {
        position: relative;

        .modal-screen {
            width: 100%;
            height: 100vh;
            position: absolute;

            .modal-container {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $color2;
                // box-shadow: ;
            }

            .user-modal-col {
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;


                img {
                    align-self: center;
                    border-radius: 50px;
                    cursor: pointer;
                }

                form {
                    margin-top: 25px;

                    button {
                        margin-top: 40px;
                    }

                }

            }
        }
    }


}