.activities {

    .activity {
        .activity-desc-container {
            >*:not(:first-child) {
                margin-left: 15px;
            }
        }

        .date-created {
            margin-left: 15px;
            color: $colorFontUserDetails;
        }
    }

    .user-img-container {
        text-align: initial;

        img {
            height: auto;
            width: 40px;
        }
    }

}