.board-header {
    height: 20vh;
    background-color: $colorBgBoardBars;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($colorFontTaskGroup, .35);

    .board-header-header {
        height: 50%;

        h1 {
            font-size: 2rem;
        }

        .board-header-right{
            .board-users{
                cursor: pointer;
                width:125px;
                text-align: center;

                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-left: -15px;
                }
            }
            .users-modal {
                background-color: $white;
                z-index: 999;
                width: 250px;
                border-radius: 5px;
                top: 35px;
                right: 0;
                padding: 0 10px;
                box-shadow: $modalsShadow;
    
                .board-users-box {
                    border-bottom: 1px solid #a8a8a87d;
                    cursor: auto;

                    img{
                        width:35px;
                        height:35px;
                        border-radius: 50%;
                    }
    
                    svg {
                        font-size: 1.5rem;
                        color: $buttonMainBg;
                    }
    
                    .member-name {
                        margin-left: 10px;
                    }
                }
    
                h3 {
                    margin: 15px 0;
    
                }
    
                .user-box {
                    margin-bottom: 10px;
                }
    
                .user-box-info {
                    p {
                        text-align: left;
                        cursor: pointer;
                    }
                }
    
                .site-users-box {
                    cursor: auto;
    
                    .member-name {
                        margin-left: 10px;
                    }
    
                    svg {
                        font-size: 1.5rem;
                        color: $buttonMainBg;
                    }

                    img{
                        width:35px;
                        height:35px;
                        border-radius: 50%;
                    }
                }
            }

        }
       
        

        .activities-outer-container {
            padding: 10px;
            border-radius: 5px;
            transition: .3s;
            margin-left: 15px;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }
        }
    }

    .board-header-footer {
        height: 50%;

        >*:not(h5) {
            margin-left: 30px;

            >*:not(svg) {
                margin-left: 10px;
            }
        }

        
    h5 {
        font-weight: 400;
        align-self: baseline;
    }

    svg {
        font-size: 25px;
    }
    button {
        color: $colorBgBoardBars;
        font-weight: 700;
        background-color: $buttonMainBg;
        font-size: 1rem;
        padding: 12px 8px;

        &:hover {
            background-color: $buttonMainHover;
        }
    }
        .search-outer-container {
            padding: 10px 10px 5px;
            flex-direction: row-reverse;
            border-radius: 5px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }

            input {
                width: 50px;
                animation: shorten .4s;
                padding: 0;
                margin: 0;
                cursor: pointer;
                color: $mainLightGrey;
    
                +svg {
                    cursor: pointer;
                    transition: .4s;
                    transform: translate(0, 0) rotate(0deg);
                    font-size: 1.5rem;
                    margin-bottom: 9px;
                    color: $mainLightGrey;
                }
    
                &:focus {
                    animation: widen .4s;
                    width: 200px;
    
                    +svg {
                        transition: .4s;
                        transform: translate(200px, 0) rotate(90deg);
                        color: $mainBlack;
                    }
                }
            }
        }

        .filters-outer-container {
            padding: 10px;
            border-radius: 5px;
            transition: .3s;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }
        }
    }


    svg {
        color: $mainBlack;
    }



    .col-right {
     





    }


}