.board-header {
    height: 18.5vh;
    background-color: $colorBgBoardBars;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($colorFontTaskGroup, .35);

    .board-header-header {
        height: 50%;

        h1 {
            align-self: flex-end;
            font-size: 2rem;
        }



        .board-header-right {
            align-self: flex-end;

            .board-users {
                cursor: pointer;
                text-align: center;

                svg,
                img {
                    transition: .3s;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-left: -15px;
                }

                svg {
                    color: $mainLightGrey;
                }

                .no-members-icon-plus {
                    font-family: monospace;
                    font-size: 15px;
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    background-color: #0085ff;
                    color: #f2f1dfb0;
                    border-radius: 50%;
                    text-align: center;
                    right: -5px;
                    font-weight: bold;
                    bottom: 10px;
                    cursor: pointer;
                }

                .member-letter {
                    transition: .3s;
                    width: 30px;
                    height: 30px;
                    margin-left: -10px;
                    border-radius: 50%;
                    background: #e6e6e6;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: font1;
                    color: $colorBgBoardBars;
                    background-color: $pink;
                    font-weight: 700;
                    border: 2px solid $colorBgBoardBars;
                }
            }

            .users-modal {
                background-color: $white;
                z-index: 999;
                width: 250px;
                border-radius: 5px;
                top: 35px;
                right: 0;
                padding: 0 10px;
                box-shadow: $modalsShadow;
                max-height: 400px;
                overflow: overlay;
                transition: .3s;

                .board-users-box {
                    border-bottom: 1px solid #a8a8a87d;
                    cursor: auto;
                    line-height: 3;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }

                    svg {
                        font-size: 1.5rem;
                        color: $buttonMainBg;
                    }

                    .member-name {
                        margin-left: 10px;
                    }

                    .member-letter {
                        cursor: default;
                        border-radius: 50%;
                        background: #e6e6e6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: font1;
                        color: $colorBgBoardBars;
                        background-color: $pink;
                        font-weight: 700;
                        width: 30px;
                        height: 30px;
                    }
                }

                .user-box {
                    margin-bottom: 10px;
                }

                .user-box-info {
                    p {
                        text-align: left;
                        cursor: pointer;
                    }
                }

                .site-users-box {
                    cursor: auto;
                    line-height: 3;

                    .member-letter {
                        cursor: default;
                        border-radius: 50%;
                        background: #e6e6e6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: font1;
                        color: $colorBgBoardBars;
                        background-color: $pink;
                        font-weight: 700;
                        width: 30px;
                        height: 30px;
                    }

                    .member-name {
                        margin-left: 10px;
                    }

                    svg {
                        font-size: 1.5rem;
                        color: $buttonMainBg;
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .activities-outer-container {
            padding: 10px;
            border-radius: 5px;
            transition: .3s;
            margin-left: 15px;
            border: 1px solid #d1c9c9;
            min-width: 130px;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }

            svg {
                margin-right: 5px;
            }
        }
    }

    .board-header-footer {
        height: 50%;

        .board-header-footer-left {
            height: 100%;

            .created-by {
                padding-left: 7px;
                color: $mainBlack;

                a {
                    margin-left: 5px;

                    &:hover {
                        text-decoration: underline;
                        color: $buttonMainBg;
                    }
                }
            }
        }

        h3 {
            font-weight: 400;
            align-self: baseline;

        }

        svg {
            font-size: 25px;
            margin-right: 5px;
        }

        .new-group-btn {
            font-size: 1rem;
            padding: 10px;
            color: $colorBgBoardBars;
            font-weight: 700;
            background-color: $buttonMainBg;
            border-radius: 15px;

            &:hover {
                background-color: $buttonMainHover;
            }
        }

        button {
            cursor: pointer;
            color: $mainBlack;
            background-color: inherit;
            border-radius: 8px;
            padding: 8px;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }

            svg {
                margin-left: 10px;
            }
        }

        .options-modal {
            z-index: 999;
            background-color: #fff;
            padding: 5px;
            border-radius: 8px;

            >* {
                width: 100%;
                padding: 10px;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.04);
                    transition: .3s;
                }
            }
        }

        .header-options {
            >*:not(button) {
                margin-left: 30px;
            }
        }

        .search-outer-container {
            padding: 10px 10px 5px;
            flex-direction: row-reverse;
            border-radius: 5px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }

            input {
                width: 50px;
                animation: shorten .4s;
                padding: 0;
                margin: 0;
                color: $mainLightGrey;

                +svg {
                    cursor: pointer;
                    transition: .4s;
                    transform: translate(0, 0) rotate(0deg);
                    font-size: 1.5rem;
                    color: $mainLightGrey;
                }

                &:focus {
                    animation: widen .4s;
                    width: 200px;

                    +svg {
                        transition: .4s;
                        transform: translate(200px, 0) rotate(90deg);
                        color: $mainBlack;
                    }
                }
            }
        }

        .filters-outer-container {
            padding: 10px;
            border-radius: 5px;
            transition: .3s;

            .filter-active-indicator {
                background-color: $buttonMainBg;
                height: 10px;
                width: 10px;
                position: absolute;
                top: 10px;
                left: 25px;
                border-radius: 50%;
            }

            .filter-active {
                color: $buttonMainBg;
            }

            &:hover {
                background-color: rgba(218, 218, 218, 0.287);
            }
        }
    }

    svg {
        color: $mainBlack;
    }
}