.boardbar {
    position: relative;
    height: 100vh;
    width: 0px;
    background-color: $colorBgBoardBars;
    padding-top: 20px;
    border-right: 1px solid rgba($colorFontTaskGroup, .35);
    border-top-left-radius: 15px;
    box-shadow: -12px -20px 20px -18px;
    margin-left: -15px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .3s;

    &.board-bar-shown {
        width: 150px;
        padding: 15px;
        padding-left: 10px;
        overflow: visible;
    }
    svg {
        font-size: 25px;
        color: $colorIconsBoardBars;
        &:hover {
          color: $colorIconsBoardBarsHover;
      }
    }

    .board-bar-toggle-container {
        position: absolute;
        right: 0px;
        transform: translate(50%, 0);

        svg {
            transform: rotate(90deg);
            transition: transform .3s;
        }

        &:hover svg {
            transform: rotate(270deg);
        }
    }

  

    .boardbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        button {
            display: flex;
            padding: 5px;
            height: fit-content;
            border-radius: 50%;
        }
    }

    li,
    input {
        margin-bottom: 15px;
    }

    h4 {
        cursor: pointer;
    }

    input {
        width: 90%;
    }

    ul {
        padding: 0;
        max-height: 80%;
        overflow: overlay;
    }

    ul {
        align-self: flex-start;

        svg {
            margin-right: 5px;
            font-size: 15px;
        }
    }
}