.boardbar {
    position: relative;
    height: 100vh;
    width: 0px;
    background-color: $colorBgBoardBars;
    padding-top: 20px;
    border-right: 1px solid rgba($colorFontTaskGroup, .35);
    border-top-left-radius: 15px;
    margin-left: -15px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .3s;

    &.board-bar-shown {
        width: 180px;
        padding: 15px 10px;
        overflow: visible;
    }

    ul {
        width: 100%;
        padding: 0;
        max-height: 80%;
        overflow: overlay;
        align-self: flex-start;

        li {
            height: 35px;
            border-radius: 5px;

            &:hover {
                transition: 0.3s;
                background-color: #88cded3d;
            }

            h4 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-grow: 1;

                &:hover {
                    transition: .3s;
                    color: $buttonMainBg;
                }
            }

            svg {
                font-size: 20px;
                color: $mainBlack;
                padding: 2px;
                margin-right: 5px;
                border-radius: 5px;

                &:hover {
                    transition: .3s;
                    color: $buttonMainBg;
                }
            }
        }
    }

    .board-bar-toggle-container {
        position: absolute;
        right: 0px;
        transform: translate(50%, 0);
        background-color: $colorBgBoardBars;
        border-radius: 50%;
        border: 1px solid $colorPlusCircle;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
        height: 20px;
        width: 20px;
        top: 20px;
        transition: .3s;

        svg {
            font-size: 0.75rem;
            fill: $colorIconsTasks;
        }

        &:hover {
            background-color: $buttonMainBg;
            border: 0;

            svg {
                fill: $colorPlusCircleFont;
            }
        }
    }

    .boardbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 35px;

        button {
            display: flex;
            padding: 5px;
            height: fit-content;
            border-radius: 50%;
        }

        svg {
            margin-left: 5px;
            margin-right: 10px;
            color: $buttonMainBg;
            font-size: 1.5rem;

            &:hover {
                transition: .3s;
                color: $buttonMainHover;
            }
        }
    }

    li,
    input {
        margin-bottom: 15px;
    }

    h4 {
        cursor: pointer;
    }

    input {
        width: 90%;
    }
}