.board-header {
    height: 20vh;
    background-color: $colorBgBoardBars;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($colorFontTaskGroup, .35);

    h1 {
        margin-bottom: 10px;
    }

    svg {
        color: $colorIconsBoardBars;

        &:hover {
            color: $colorIconsBoardBarsHover;
        }
    }

    button {
        color: $colorFontTaskGroup;
        font-weight: 700;
        background-color: $colorMainNav;
        font-size: 0.8rem;
        padding: 12px 8px;

        &:hover {
            background-color: $colorIconsBoardBarsHover;
        }
    }

    .col-right {
        svg {
            font-size: 25px;
        }

        .search-outer-container {
            flex-direction: row-reverse;
        }

        input {
            width: 50px;
            animation: shorten .4s;

            +svg {
                transition: .4s;
                transform: translate(0, 0) rotate(0deg);
            }

            &:focus {
                animation: widen .4s;
                width: 200px;

                +svg {
                    transition: .4s;
                    transform: translate(200px, 0) rotate(90deg);

                }
            }
        }

        >* {
            margin-left: 30px;

            >* {
                margin-left: 10px;
            }
        }
    }

    .activities-outer-container {
        padding: 10px;
        border-radius: 15px;

        &:hover {
            background-color: rgba(128, 128, 128, 0.342);
        }
    }

    .filters-outer-container {
        padding: 10px;
        border-radius: 15px;

        &:hover {
            background-color: rgba(128, 128, 128, 0.342);
        }
    }
}

@keyframes widen {
    0% {
        width: 50px;
    }

    100% {
        width: 200px;
    }
}

@keyframes shorten {
    0% {
        width: 200px;
    }

    100% {
        width: 50px;
    }
}