.group {

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $colorFontTaskGroup;
    }

    svg {
        color: $colorIconsTasks;

        &:hover {
            color: $colorIconsTasksHover;
        }
    }

    .content-editable:hover {
        border: 2px dotted $colorFontTaskGroup;
    }

    .group-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .group-header-right {
        margin-right:10px;
        >* {
            width: 100px;
            text-align: center;
        }

        *:not(:first-child) {
            margin-left: 15px;
        }
    }

    .task-list {
        min-height: 40px;
    }

    .task-add {
        border: 1px solid transparent;

        form {
            width: 100%;
        }

        input {
            height: 100%;
            margin: 0;
            text-align: initial;
            font-family: font1;
            font-size: 1em;
            font-weight: 700;
            background-color: $colorBg;

            &::placeholder {
                color: $colorFontTaskGroup;
            }
        }

        &:hover {
            border: 1px solid $colorFontTaskGroup;
        }
    }
}

.drag-over {
    transition: 0.3s ease;
    padding: 10px;
    background-color: rgba($colorMainNav, 0.5)
}