.group {

    svg {
        font-size: 1.5rem;

        &:hover {
            color: $colorIconsTasksHover;
        }
    }

    .group-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .color-picker {
            width: 120px;
            height: 150px;
            background-color: #fff;
            z-index: 10000;
            top: -12px;
            left: 136px;
            border-radius: 5px;
            box-shadow: 0px 3px 10px -5px #484444;
            cursor: auto;
            background-color: #ffffff;
        
            .color-pick {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 5px;
                cursor: pointer;
        
                &:hover {
                    transition: 0.2s;
                    width: 32px;
                    height: 32px;
                    margin: 4px;
                }
            }
        }

    }

    .group-header-right {
        margin-right: 10px;

        >* {
            width: 100px;
            text-align: center;
        }

        *:not(:first-child) {
            margin-left: 15px;
        }
    }

    .task-list {
        min-height: 35px;
    }

    .task-add {

        form {
            width: 100%;
        }

        input {
            height: 100%;
            margin: 0;
            text-align: initial;
            font-family: font1;
            font-size: 1em;
            font-weight: 700;
            background-color: #f7f7f7;
            border: 1px solid rgba(109, 109, 109, 0.35);

            &::placeholder {
                color: $mainLightGrey;
                font-weight: 400;
            }
            &:hover{
                border: 1px solid $colorFontTaskGroup;
                border-left:0;
            }
            &:focus{
                border: 1px solid $buttonMainBg;
                border-left:0;
            }
        }

    }

    .drag-icon {
        svg {
            color: $mainLightGrey;
            cursor: grab;
            margin: 0px 8px 0 12px;
        }

        &:hover,
        &:active {
            svg {
                transition: 0.3s;
                color: $mainBlack;
            }
        }
    }
}

.delete-group-icon,
.color-group-icon {
    margin-right: 5px;
}



.drag-over {
    transition: 0.3s ease;
    background-color: rgba($mainLightGrey, 0.3)
}

