.group {

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $colorFontTaskGroup;
    }

    svg {
        color: $colorIconsTasks;
        font-size: 1.5rem;

        &:hover {
            color: $colorIconsTasksHover;
        }
    }

    .content-editable:hover {
        border: 2px dotted $colorFontTaskGroup;
    }

    .group-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

    }

    .group-header-right {
        margin-right: 10px;

        >* {
            width: 100px;
            text-align: center;
        }

        *:not(:first-child) {
            margin-left: 15px;
        }
    }

    .task-list {
        min-height: 40px;
    }

    .task-add {
        border: 1px solid transparent;

        form {
            width: 100%;
        }

        input {
            height: 100%;
            margin: 0;
            text-align: initial;
            font-family: font1;
            font-size: 1em;
            font-weight: 700;
            background-color: $colorBg;

            &::placeholder {
                color: $colorFontTaskGroup;
            }
        }

        &:hover {
            border: 1px solid $colorFontTaskGroup;
        }
    }
}

.drag-over {
    transition: 0.3s ease;
    padding: 10px;
    background-color: rgba($colorMainNav, 0.5)
}

.color-picker{
    width:120px;
    height:150px;
    background-color: #fff;
    z-index: 10000;
    top: 25px;
    left: 105px;
    border-radius:5px;
    box-shadow: 5px 5px 5px grey;
   cursor: auto;

    .color-pick{
        width:30px;
        height:30px;
        border-radius: 50%;
        margin:5px;
        cursor:pointer;
    }
}