.navbar {
    min-width: 100px;
    width: 100px;
    background-color: $colorMainNav;
    height: 100vh;
    padding-right: 15px;

    svg {
        color: $colorIconsNav;
    }

    .icon {
        font-size: 2rem;
        color: $colorIconsTasks;

        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        margin-top: 20px;
        font-size: 3rem;
    }

    .navbar-links {
        height: 25%;
    }
}

// 