.navbar {
    min-width: 100px;
    width: 100px;
    background-color: $colorMainNav;
    height: 100vh;
    padding-right: 15px;

    svg {
        font-size: 30px;
        color: $colorIconsNav;

        &:hover {
            color: $colorIconsTasksHover;
        }
    }

    .icon {
        font-size: 2rem;
        color: $colorIconsTasks;

        &:hover {
            cursor: pointer;
        }
    }

    .logo {
        margin-top: 20px;
        font-size: 3rem;
    }

    .navbar-links {
        height: 25%;
    }

    .notifications-counter {
        position: absolute;
        right: -3px;
        top: -3px;
        font-size: 13px;
        width: 17px;
        height: 17px;
        color: #b94444;
        background: #31312c;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 50%;
        font-weight: 700;
    }
}