.notifications {
    position: absolute;
    width: 600px;
    top: -15px;
    left: 50px;
    background-color: $colorTask;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px #4b4b4bad;
    border-radius: 10px;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $colorFontTaskGroup;
    }

    .hide-long-txt {
        flex: 1;
        min-width: 0;

        >p,
        >h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    header {
        margin-bottom: 20px;
        width: 95%;

        &:before {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(194, 225, 245, 0);
            border-right-color: $colorTask;
            border-width: 10px;
        }
    }

    .notifications-container {
        overflow-y: overlay;
        max-height: 400px;

        .notification {
            width: 95%;
            margin-bottom: 15px;
            background-color: $colorBg;
            border-radius: 1px;
            padding: 25px;
            line-height: 1.8;

            .user-img-container {
                text-align: initial;

                img {
                    height: auto;
                    width: 80px;
                }
            }

            .notification-msg {
                margin-left: 15px;
                align-items: flex-start;
            }

        }
    }

}