.task {
    display: flex;
    background-color: $colorTask;
    margin-bottom: 2px;
    height: 40px;
    border-radius: 1px;
    svg {
        font-size: 2rem;
    }
    .task-remove-icon {
        font-size: 1.2rem;
        transform: rotate(180deg);
    }
    .users-modal {
        background-color: #ffffff;
        z-index: 999;
        padding: 10px;
        width: 250px;
        border-radius: 1px;
        .task-users-box {
            border-bottom: 2px solid $colorMainNav;
            padding: 10px 0;
            cursor: pointer;
        }
        h3 {
            margin-bottom: 10px;
        }
        .user-box-info {
            p {
                text-align: left;
            }
        }
        .board-users-box {
            padding: 10px 0;
            cursor: pointer;
        }
    }
    input {
        width: 100%;
        background-color: $colorDatePicker;
        border: 0;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        border-radius: 1px;
        text-align: center;
    }
    .icon-container {
        position: absolute;
        left: -20px;
    }
}

.label-box {
    width: 100%;
    text-align: center;
    border-radius: 1px;
    padding: 5px 0;
    cursor: pointer;
}

.label-list {
    width: 150px;
    background-color: #ffffff;
    z-index: 999;
    padding: 10px;
    border-radius: 1px;
    .label-selector {
        width: 90%;
        text-align: center;
        padding: 5px 0;
        margin-bottom: 10px;
        border-radius: 1px;
        cursor: pointer;
    }
}

.drag {
    transition: 0.3s;
    border: 2px black solid
}

.task-left {
    position: relative;
    .task-color {
        background: red;
        width: 7px;
        height: 40px;
    }
}

.task-right {
    height: 100%;
    margin-right: 10px;
    >* {
        width: 100px;
        margin-left: 15px;
    }
    .notes-container {
        text-align: center;
    }
}

.user-img-container {
    height: 50px;
    position: relative;
    text-align: center;
    img {
        cursor: pointer;
        border-radius: 50%;
        width: 30px;
    }
    .no-members-container {
        position: relative;
        .no-members-icon {
            height: 30px;
            width: 30px;
        }
        .no-members-icon-plus {
            position: absolute;
            top: 9px;
            right: -15px;
            font-size: 20px;
            background-color: $colorPlusCircle;
            color: $colorPlusCircleFont;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .member-letter {
        height: 100%;
        width: 50%;
        margin: 0 auto;
        font-size: 2rem;
        border-radius: 50%;
        background-color: $colorIconsTasks;
        color: $colorTask;
        padding-top: 6px;
        cursor: pointer;
    }
    .task-number-of-imgs {
        font-family: monospace;
        font-size: 15px;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: $colorPlusCircle;
        color: $colorPlusCircleFont;
        border-radius: 50%;
        text-align: center;
        right: 25px;
        font-weight: bold;
    }
}

.task-img-container {
    height: 100%;
    position: relative;
    text-align: center;
    img {
        cursor: pointer;
        height: 100%;
        border-bottom-right-radius: 1px;
    }
    .no-images {
        padding-top: 15px;
    }
}

.updates-header {
    margin-bottom: 20px;
    h1 {
        margin: 15px 0 30px;
    }
    .updates-header-options {
        width: 100%;
        >* {
            margin: 0 auto;
        }
    }
    label {
        font-family: font1;
        padding: 15px;
        color: $colorFontNav;
        background-color: $buttonColorCTA;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 2px;
        transition: .3s;
        margin: 20px 0;
        &:hover {
            background-color: $colorIconsTasksHover;
        }
    }
    input {
        border-bottom: 2px solid $buttonColorCTA;
        width: 150px; 
    }
}

.updates-images {
    height: 100%;
    .image-list {
        margin: 50px 10px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
    }
    .updates-image {
        width: 100%;
        img {
            height: 200px;
        }
    }
    label {
        font-family: font1;
        padding: 15px;
        color: $colorFontNav;
        background-color: $buttonColorCTA;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 2px;
        transition: .3s;
        &:hover {
            background-color: rgba($colorIconsBoardBarsHover, .2);
        }
    }
    input {
        border-bottom: 2px solid $buttonColorCTA;
        width: 150px;
    }
}

.updates-container {
    overflow: overlay;
    padding: 0 10px;
    height: 72vh;
    background-color: #dddfc6;
    border-bottom: 1px solid #b5ad91;
    border-top: 1px solid #b5ad91;
    .update-box {
        padding: 10px;
        box-shadow: 0px 3px 10px -5px #484444;
        margin: 10px;
        background-color: $colorBg;
        width: fit-content;
        .member-name {
            font-weight: bold;
        }
        .update-text {
            font-weight: initial;
            display: inline;
            word-break: break-all;
        }
        img {
            height: 200px;
            width: 200px;
        }
    }
}

// Labels
.stuck {
    background-color: #b94444;
}

.working {
    background-color: #c5b139;
    font-size: 0.9rem;
}

.done {
    background-color: #407740;
}

.low {
    background-color: #cfcfb4
}

.medium {
    background-color: #848569
}

.high {
    background-color: #515243
}

.stuck,
.working,
.done,
.low,
.medium,
.high {
    color: #f1f1f1;
}