.task {
    display: flex;
    background-color: $color3;
    margin-bottom: 10px;
    height: 65px;

    *:not(:first-child) {
        margin-left: 15px;
    }

}

.drag {
    transition: 0.3s;
    border: 2px black solid
}

.task-img-container {
    width: 80px;
    height: 100%;
    position: relative;

    img {
        cursor: pointer;
    }

    .task-number-of-imgs {
        position: absolute;
        background-color: $color2;
        color:$colorIcons;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: 0;
        text-align: center;
        right: 0;
        font-size: 0.8rem;
        font-weight: bold;
    }
}