.board {
    display: flex;

    .board-container {
        width: 100%;
        overflow: hidden;

        .groups-container {
            height: 80vh;
            overflow-y: overlay;
            background-color: $colorBgBoardBars;
        }
    }

}