.boards-list {
    background-color: $colorBgBoardBars;

    svg {
        position: fixed;
        bottom: 10px;
        right: 15px;
        font-size: 3rem;
        background: white;
        border-radius: 50%;
        color: $buttonMainBg
    }

    .board-details {
        padding: 10px;
        border: 1px solid rgba($colorFontTaskGroup, .35);
        box-shadow: $modalsShadow;
        border-radius: 8px;
        margin: 10px;
        width: 90%;
        max-height: 150px;

        &:focus {
            background-color: #3493c529;
        }




        .board-details-header {

            .board-members-imgs {
                >:not(:first-child).member-img {
                    margin-left: -10px;
                }

            }

            .member-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .board-details-main {}
    }


}