.home {
    min-height: 100vh;

    video {
        margin-top: -80px;
    }

    .home-login-sign-cta {
        top: 15px;
        right: 30px;

        a:first-child {
            margin-right: 15px;

        }

        button {
            padding: 8px;
            background-color: #ee7b91;
            width: fit-content;
            border-radius: 20px;

            &:hover {
                background-color: #f0284e;
            }

        }
    }
}

.home-main {
    height: 100vh;
    justify-content: space-evenly;

    h1 {
        font-size: 2.5em;
        line-height: 3.5;
    }

    h2 {
        font-size: 1.3em;

    }

    .guest-button {
        margin-top: 25px;
        background-color: #f0284e;
        color: $colorBgBoardBars;
        border-radius: 20px;
        font-size: 1.6em;
        padding: 12px;
        transition: .3s;
        left: 0;

        &:hover {
            background-color: #be203e;
            font-size: 1.65em;
            padding: 14px;
        }
    }

    .col-right {
        text-align: center;
        line-height: 4;
        height: 100vh;
        color: #f1f1f1;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #cdeefac2 75%);
        width: 50%;

        a {
            position: relative;
            width: 200px;
        }
    }

    .col-left {
        z-index: -1;
        width: 50%;
    }

}

@media (max-width:1000px) {
    .home-main {
        font-size: 13px;
        flex-wrap: wrap;

        .col-left {
            position: absolute;
            top: 0;
        }

        .col-right {
            margin-top: 15vh;
            height: 85vh;
            background: linear-gradient(0deg, rgba(199, 229, 241, 1) 0%, #ffffff00 68%);
            width: 100%;
        }
    }
}

@media (max-width:720px) {
    .home-main {
        font-size: 15px;

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.1em;
        }

        .col-left {

            video {
                width: 400px;
                margin-top: -50px;
            }
        }

    }
}

@media (max-width:460px) {
    .home-main {

        .col-left {
            position: initial;

            video {
                width: 330px;
            }
        }

        .col-right {
            line-height: 3;
            margin-top: -160px;
            padding: 0 15px;
        }

        .guest-button {
            position: initial;
        }

    }
}

@media (min-height:810px) {
    @media(max-width:410px) {

        .home-main {

            .col-right {
                height: 100vh;
                margin-top: -255px;
                padding: 0 15px;
            }

        }
    }
}