.login {
    background-color: $colorBg;
    height: 100vh;
    color: $colorFontNav;
}

.go-back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $colorIconsTasks;
}

.login-form {
    background-color: $colorBgBoardBars;
    padding: 20px;
    position: absolute;
    width: 50%;
    min-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    .login-input,
    button,
    label {
        width: 90%;
    }
    svg{
        font-size: 5rem;
    }
}