.my-week{
    display: flex;
}

.my-week-container{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    width: 100%;
    h1{
        align-self: center;
        font-size: 1.9rem;
    }
}

.task-preview{
    display: flex;
    padding: 10px;
    .user-img-container{
        width: 100px;
        .member-letter{
            width: 50px;
        }
    }
}

.upcoming-tasks-container{
    :nth-child(2){
        background-color: $color1;
    }
}