.my-week {
    position: relative;
}

.search-container {
    margin: 0 auto;
    width: 80%;
}

.my-week-container {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    width: 100%;
    background-color: $colorBg;

    input {
        font-size: 1.2rem;
        color: $colorInputFieldFocus;
        border-bottom-color: $colorInputFieldDark;

        &::placeholder {
            color: $colorInputFieldDark;
        }

        &:focus {
            background-color: $colorInputFieldFocus;

        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $colorFontUserDetails;
    }

    h1 {
        font-size: 1.9rem;
        margin-bottom: 50px;
    }
}

.my-week-header {
    margin: 5vh 0px;
    height: 15vh;

    div {
        width: 50%;

        h1 {
            margin: auto;
        }

        img {
            height: 100px;
            width: 100px;
        }
    }
}

.task-preview {
    display: flex;

    .user-img-container {
        width: 80px;

        img,
        .member-letter,
        .task-number-of-imgs {
            height: 45px;
            width: 45px;
        }
    }

    * {
        width: 100px;
        text-align: center;
    }

    .label-box {
        height: 90%;
        border-radius: 1px;
        width: 100px;
    }

    .task-location {
        color: gray;

        span {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.upcoming-tasks-container {
    max-height: 70vh;
    overflow-y: overlay;
}

.upcoming-tasks {
    width: 95%;

    > :nth-child(even) {
        background-color: $colorBgBoardBars;
        border-radius: 1px;
    }
}

.no-tasks {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}