.sign-login {
    background-color: $colorBgBoardBars;
    height: 100vh;
    color: $mainBlack;
}

.go-back{
    position: absolute;
    top: 20px; 
    left: 20px;
    height: fit-content;
    width: fit-content;
    

    svg{
        color: $buttonMainBg;
        &:hover{
            color:$buttonMainHover;
        }
    }

}

.sign-login-form {
    background-color: $white;
    box-shadow: $modalsShadow;
    padding: 20px;
    position: absolute;
    width: 50%;
    min-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    button{
        background-color: $buttonMainBg;
        color: $colorBgBoardBars;
        width:80%;
        border-radius: 15px;
        &:hover {
            background-color: $buttonMainHover;
        }
    }

    .guest-button{
        background-color: #f0284e;

        &:hover{
            background-color: #be203e;
        }
    }
    a:hover{
        color: $buttonMainBg;
        text-decoration: underline;
    }
    .sign-login-input,
    section {
        width: 90%;
        color: $mainBlack;
    }
    svg{
        font-size: 5rem;
        color: $buttonMainBg;
    }
}