.sign-login {
    background-color: $colorBgBoardBars;
    height: 100vh;
    color: $mainBlack;
    overflow: hidden;
}

.go-back {
    position: absolute;
    top: 20px;
    left: 20px;
    height: fit-content;
    width: fit-content;

    svg {
        color: $buttonMainBg;
        transition: .3s;

        &:hover {
            color: $buttonMainHover;
        }
    }

}

[data-title]:hover:after {
    font-family: font1;
    content: attr(data-title);
    position: absolute;
    top: 175%;
    left: 25%;
    font-size: 1rem;
    width: max-content;
    padding: 5px 10px;
    color: $white;
    background-color: rgba($mainBlack, .65);
    border-radius: 5px;
    animation: title-animation 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

[data-title]:hover:before {
    bottom: -76%;
    left: 85%;


}

.sign-login-form {
    background-color: $white;
    box-shadow: $modalsShadow;
    padding: 20px;
    position: absolute;
    width: 50%;
    min-height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    button {
        background-color: $buttonMainBg;
        color: $colorBgBoardBars;
        width: 190px;
        border-radius: 10px;
        transition: .3s;

        &:hover {
            background-color: $buttonMainHover;
        }
    }

    .facebook-btn-container {
        position: relative;
        background: #3A5A97;
        padding: 0;
        border-radius: 10px;
        margin-top: 10px;
        padding-left: 5px;
        transition: .3s;

        svg {
            font-size: 1rem;
            color: #fff;
        }

        &:hover {
            background: #27406e;
        }

        .facebook-btn {
            position: absolute;
            display: inline-block;
            font-size: 13px;
            background: inherit;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 20, .4);
            text-decoration: none;
            line-height: 1;
            position: relative;
            width: auto;

        }
    }


    @media (max-width:500px) {
        width: 100%;
        padding: 15px 0;
    }

    .guest-button {
        background-color: #f0284e;
        transition: .3s;

        &:hover {
            background-color: #be203e;
        }
    }

    a {
        margin: 10px 0;
        transition: .3s;

    }

    a:hover {
        color: $buttonMainBg;
        text-decoration: underline;
    }

    .sign-login-input,
    section {
        width: 90%;
        color: $mainBlack;
    }

    svg {
        font-size: 5rem;
        color: $buttonMainBg;
    }
}

.login-err-modal {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    transform: translate(300px, 0);
    background-color: $colorBgBoardBars;
    z-index: 999;
    box-shadow: $modalsShadow;
    border-radius: 10px;
    transition: .3s;

    h2 {
        color: #dd4444;
    }

}

.animate-login-err-modal {
    transform: translate(0, 0);
    transition: .3s;

}