.user-profile {
    display: flex;

    .user-container {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $colorBgBoardBars;

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $mainBlack;
        }

        .header-container {
            width: 100%;
            background-color: $buttonMainBg;
            border-bottom: 1px solid rgba($colorFontTaskGroup, .35);
            height: 40vh;
        }

        img {
            border-radius: 50px;
            object-fit: fill;
        }
    }

    .user-details-container {
        height: 60vh;
        width: 100%;

        @media (max-width: 450px) {
            height: 52vh;
        }

        h2 {
            cursor: pointer;
            align-self: flex-start;
            text-decoration: underline;

            &:hover {
                transition: .3s;
                color: $buttonMainBg
            }
        }

        .user-details-inner-container {
            margin-top: 100px;
            display: flex;
            width: 100%;

            li {
                cursor: pointer;
                color: $buttonMainBg;
                text-indent: 10%;
                line-height: 2;

                &:hover {
                    color: $buttonMainHover;
                }
            }

            >:not(:first-child) {
                margin-left: 100px;

            }

            .col-left {
                >h3:not(:first-child) {
                    margin-top: 50px;
                }
            }

            .col-mid {
                >h3:not(:first-child) {
                    margin-top: 50px;
                }
            }

            .col-right {
                p {
                    margin-top: 50px;
                }

                span {
                    cursor: pointer;
                    color: $buttonMainBg;

                    &:hover {
                        color: $buttonMainHover;
                    }
                }

                >h3:not(:first-child) {
                    margin-top: 50px;
                }
            }
        }
    }

}