@keyframes scale-in-ver-bottom {
    0% {
        transform: scaleY(0);
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
}