* {
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font1;
  color: $mainBlack;
}

p,
label,
::placeholder {
  font-family: font1;
}


input {
  width: 35%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $colorBottomBorder;
  margin: 10px 0;
  line-height: 2;

  &::placeholder {
    color: $mainLightGrey;
  }

  &:focus {
    background-color: $colorInputFieldFocus;
    border-bottom: 2px solid $mainBlack;
  }

}


button {
  font-family: font1;
  padding: 15px;
  color: $colorBgBoardBars;
  background-color: $buttonMainBg;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  transition: .3s;

  &:hover {
    background-color: $buttonMainHover;
  }
}

svg {
  font-size: 1.5rem;
  cursor: pointer;
  color: $mainBlack;

}

.drop-down-menu-icon {
  position: absolute;
  left: -20px;
}

span.span-user-details {
  font-family: font1;
  letter-spacing: 0.5px;
  color: $colorFontTaskGroup;
}

.icon-container {
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-editable {
  padding: 0 4px;
  border: 2px dotted transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.content-editable:hover {
  border: $dottedBorder;
}

.content-editable:focus {
  border: $dottedBorder;
  color: $mainBlack;
}

//Titles 
[data-title] {
  position: relative;

}

[data-title]:hover:after {
  font-family: font1;
  content: attr(data-title);
  position: absolute;
  top: 175%;
  font-size: 1rem;
  width: max-content;
  padding: 5px 10px;
  color: $white;
  background-color: rgba($mainBlack, .65);
  border-radius: 5px;
  animation: title-animation 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  z-index: 999;

}

[data-title]:hover:before {
  bottom: -76%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba($mainBlack, .65);
  border-width: 7px;

  animation: title-animation 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

//Profile pics
.user-profile-big {
  width: 250px;
}

//Menu container
div[role="menuContainer"]>div {
  font-family: font1;
  box-shadow: 0px 3px 10px -5px #484444 !important;
}

//Menu
div[role="menuContainer"]>div>ul {
  background: #ffffff !important;
  color: #454662 !important;
}

//Menu font
div[role="menuContainer"]>div>ul>li {
  font-family: font1;
}

//Loader 
.loader-container {
  width: 100vh;
  height: 100vh;

}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $white;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: $mainLightGrey;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  transition: .3s;
  background: #a0a0a0;
  border-radius: 1px;
}