* {
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: noto-sans;
  color: $colorHeader;
}

p,
label,
::placeholder {
  font-family: roboto;
  color: $colorTxt;
}


input {
  padding: 10px 0;
  width: 35%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $color3;
  margin: 10px 0;

  &::placeholder {
    color: $colorHeader;
  }

}

button {
  font-family: noto-sans;
  padding: 15px;
  color: $colorTxt;
  background-color: $buttonColor;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  transition: .3s;

  &:hover {
    background-color: rgba($buttonColor, .65);
  }
}

svg {
  font-size: 2rem;
  cursor: pointer;
  color: $colorIcons;

  &:hover {
    transition: color .3s;
    color: rgba($colorIconsHover, .75);
  }
}


span.span-user-details {
  font-family: roboto;
  letter-spacing: 0.5px;
  color: $colorTxt;
}

.icon-container {
  width: fit-content;
  position: relative;

}

.content-editable {
  padding: 0 4px;
  border: 2px dotted transparent;
}

.content-editable:hover {
  border: 2px dotted $color3;
}

.content-editable:focus {
  border: 2px dotted $color2;
  color: rgba($colorTxt, .85);
}


//Profile pics
.user-profile-big {
  width: 250px;
}

.user-img-container {
  height: 50px;
  position: relative;
  text-align: center;

  img {
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    width: 50%;
  }

  .member-letter {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 50%;
    background-color: $colorIcons;
    color: $color3;
    padding-top: 6px;
    cursor: pointer;
  }

  .task-number-of-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    position: absolute;
    background-color: rgba($colorIcons, .95);
    color: $color1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
  }
}

//Modals
.modal-screen-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient($colorHeader, $color2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient($colorHeader, $color2)
}