// FLEX
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grow {
    flex-grow: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed{
    position: fixed;
}

.padding-x-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.padding-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-x-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.padding-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-y-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate0 {
    transform: rotate(0);
}

.toggle-btn {
    color: $buttonColorCTA;

    &:hover {
        color: $buttonMainHover;
    }
}

.clickable-header {
    position: absolute;
    top: 60px;
    transition: color .3s;

    &:hover {
        color: rgba($colorIconsTasksHover, .75);
    }
}

.cursor-initial {
    cursor: initial;
}

.cursor-pointer {
    cursor: pointer;
}