// FLEX
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.padding-x-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.padding-y-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-x-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.padding-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rotate180 {
    transform: rotate(180deg);
}

.clickable-header:hover {
    transition: color .3s;
    color: rgba($colorIconsTasksHover, .75);
}

.cursor-initial {
    cursor: initial;
}

//----------Probably will not work on android------------
//     .hide-long-txt {
//     flex: 1;
//     min-width: 0;

//     >p {
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }
// }
//-----------Works on android but not the right code we need...--------------
// display: -webkit-box;
// -webkit-line-clamp: 1;
// -webkit-box-orient: vertical;
// overflow: hidden;