//bg
$colorBgBoardBars: #f7f7f7;
$colorTask:#e2e2cd;
$colorBg:#f2f1df;
$colorMainNav:#1c1f3b;
//fonts
$mainBlack: #333333;
$mainLightGrey:#a8a8a8;
$colorFontTaskGroup: #6d6d6d;
$colorFontUserDetails: #4d4b4b;
//icons
$colorIconsNav:#e5f4ff;
$colorIconsBoardBars:#f2f1df;
$colorIconsTasks:#31312c;
//icons hover
$colorIconsTasksHover: #111111;
//circles
$colorPlusCircle:#787864f1;
$colorPlusCircleFont:#f2f1dfb0;
//inputs
$colorDatePicker:#f7f7dc;
$colorInputFieldFocus:#a2a19f0a;
$colorInputFieldDark:#413e3a;
$colorBottomBorder:  #6d6d6d6b;
//buttons
$buttonColorCTA:#31312c;
$buttonColorSecondary:#575757;
$buttonMainBg: #0085ff;
$buttonMainHover:#1574cb;

// shadow
$modalsShadow:0px 3px 10px -5px #484444;
$dottedBorder:2px dotted #a0a0a0;
$brightBoxShadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
$white: #ffffff;
$taskBg: #f1f1f1;
$inputColor: #4d4b4b;
$navIconHover: #43445d40;