//bg
$colorBgBoardBars: #333333;
$colorTask:#e2e1c8;
$colorBg:#f2f1df;
//fonts
$colorMainNav:#bcbba6;
$colorFontNav: #f2f1dfb0;
$colorFontTaskGroup: #6d6d6d;
//icons
$colorIconsNav:#31312c;
$colorIconsBoardBars:#f2f1df;
$colorIconsTasks:#31312c;
//icons hover
$colorIconsTasksHover: #111111;
$colorIconsBoardBarsHover:#f4f3f0;
//circles
$colorPlusCircle:#787864f1;
$colorPlusCircleFont:#f2f1dfb0;
//inputs
$colorDatePicker:#f7f7dc;


$colorModalOverlay:#02091d;
$buttonColor:#64b5eb;