$color1: #e8effb;
$color2:#2a77aa;
$color3:#85b2ec;
$color4:#d0e1ec;
$color5:#f7fbfd;
$colorHeader:#053250;
$colorTxt:#1b262c;
$colorIcons:#1e2547;
$colorIconsHover:#0f4c75;
$colorModalOverlay:#02091d;
$buttonColor:#64b5eb;